li{
    list-style-type: none;
}

.table{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-table{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}
.table__item{
    display: flex;
    flex-direction: column;
}